
<style>
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
</style>

<div class="col-md-10 col-md-offset-1">
  <div class="new-play-form">
    <h1>Edit Broadway Play</h1>

    <%= simple_form_for @play, html: {multipart: true} do |f| %>
      <div id="kv-avatar-errors-1" class="center-block" style="width:800px;display:none"></div>
        <form class="text-center" action="/avatar_upload.php" method="post" enctype="multipart/form-data">
            <div class="kv-avatar center-block" style="width:200px">
              <input id="avatar-1" name="avatar-1" type="file" class="file-loading">
            </div>
    <!-- include other inputs if needed and include a form submit (save) button -->
        </form>
      <%= f.file_field :play_img %>
      <%= f.select :category_id, @categories %>
      <%= f.input :title, label: "Play Title" %>
      <%= f.input :description %>
      <%= f.input :director %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>


<script>
var btnCust = '<button type="button" class="btn btn-default" title="Add picture tags" ' + 
    'onclick="alert(\'Call your custom code here.\')">' +
    '<i class="glyphicon glyphicon-tag"></i>' +
    '</button>'; 
$("#avatar-1").fileinput({
    overwriteInitial: true,
    maxFileSize: 1500,
    showClose: false,
    showCaption: false,
    browseLabel: '',
    removeLabel: '',
    browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
    removeTitle: 'Cancel or reset changes',
    elErrorContainer: '#kv-avatar-errors-1',
    msgErrorClass: 'alert alert-block alert-danger',
    defaultPreviewContent: '<img src="/uploads/default_avatar_male.jpg" alt="Your Avatar" style="width:160px">',
    layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
    allowedFileExtensions: ["jpg", "png", "gif"]
});
</script>
